h2{
  
    text-align: center;
}
body{
    background-image: url("/assest/FONDO5.jpg");
}
.colorfondo1{
    background-color: rgb(53, 53, 53);
}
.barra
{
    background-image: url("/assest/nabvar5jpg");
    background-size: cover;
}
header{
    background-color: rgba(0, 0, 0, 0.665);
}

.letra{
    color: white;
}

#carouselExampleInterval{

    margin-top: 33px;
}

footer p {
    color: #fff;
}

h6{
    color: #fff;
}

h1{
  
    color: #fff;
    text-align: center;
}

.col-4{
    margin-top: 33px;
}
#economicos{
    margin-top: 5%;
    background-color: rgba(68, 0, 255, 0.178);
    color: rgb(255, 255, 255);
}
#card1{
    margin-bottom: 5%;
}
